body {
    font-family: 'Arial', sans-serif;
    background-color:lightsteelblue;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e3a8b;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #FFFFFF;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
}


footer {
    background-color: #2e3a8b;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    color: #161515;
}
nav ul {

    margin: 0;
    padding: 0;
    
  }

  nav ul li {
    display: inline;
    margin-right: 20px;
   
  }